graphviz
carbontracker
picai_eval>=1.4.4
picai_prep>=2.1.2
picai_baseline>=0.7.0
git+https://github.com/nanohanno/hiddenlayer.git@bugfix/get_trace_graph#egg=hiddenlayer
torch>1.10.0
tqdm
dicom2nifti
scikit-image>=0.14
medpy
scipy
batchgenerators>=0.23
numpy
sklearn
SimpleITK
pandas
requests
nibabel
tifffile
matplotlib
