graphviz
carbontracker
picai_eval>=1.4.1
picai_prep>=2.0.1
git+https://github.com/DIAGNijmegen/picai_baseline
git+https://github.com/nanohanno/hiddenlayer.git@bugfix/get_trace_graph#egg=hiddenlayer
torch>1.10.0
tqdm
dicom2nifti
scikit-image>=0.14
medpy
scipy
batchgenerators>=0.23
numpy
sklearn
SimpleITK
pandas
requests
nibabel
tifffile
matplotlib
